/* jGallery styles */
#fade2 { /*--Transparent background layer--*/
  display: none; /*--hidden by default--*/
  background: #000;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -116px;
  margin-left: -40%; 
  width: 80%;
  height: 232px;
  opacity: .80;
  z-index: 10000;
}
.wrap {position:relative;height:100%;overflow:hidden;}
.wrap h1 {
  font-size:22px;
  color:#fff;
  position:absolute;
  top:50%;
  margin-top:-105px;
  margin-left:18px;
}
.bg {
  background: url('../../jGallery/images/bg.png');
  background-position: center left;
  background-repeat: repeat-x;
  margin-left:7px;  
  margin-right:7px;
  height: 100%;
}

.gallery {
	position:absolute;
	top: 50%;
}
.large {
	left:50%;
	position:absolute;
	top:50%;
	z-index:10;
}
.js .large {display:none;}

.large div.info, .large a.close2 {
	background: url('../../jGallery/images/image_bg.png') top left repeat-x;
	position:relative;
	/*left:-50%;*/
	color:#fff;
}
.large div.info h2, .large div.info p {
	padding:0 10px !important;
	color:#fff;
}
.large div.info h2 {padding-top:15px !important;padding-bottom:10px !important;text-transform: capitalize;}
.large div.info p {padding-bottom:15px;display:none;}
.large div.info span.count {display:block;position:absolute;right:4px;bottom:2px;font-size:11px;margin:5px 0;font-weight:bold;}

.large img {
 /*height : 325px;
 width: auto;
 position:relative;
 left:-50%;*/
}
.large a.close2 {display:block;text-align:right;}
.thumbs, .thumbs .scroller {
	padding:0;
	margin:0;
}
.thumbs {position: relative;/*padding-top: 5px;*/ overflow: hidden;}
.thumbs .scroller img, .large img {
  /*border: 2px solid #318562; dark brown bg #382f28*/
  cursor: pointer;
}
.thumbs .scroller li {list-style:none;display:inline;}

.thumbs .scroller a {
	float: left;
  margin-right: 10px;
}
.roundBorder {
  border: 2px #9db2b9 solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.thumbs .scroller a.roundBorder:hover {
	border: 2px solid #fff;
}
.thumbs .scroller a.fadeOut:hover {
	-khtml-opacity:1;
  -moz-opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
  filter:alpha(opacity=100);
  opacity:1;
}
.thumbs .scroller a img {
 height: 125px;
 width: auto;
}
.thumbs .scroller a span {display:block;color: #fff;}
.js .thumbs .scroller a span {display:none;}

.thumbs .scroller {position:relative;width:3000px;overflow:hidden;padding-top:10px;/*height:125px;height:500px;top:50%;*/}
.js .thumbs .scroller {visibility:hidden;}

.wrap a.left, .popup_block a.right {display:none;position:absolute;top:50%;margin-top:-24px;z-index:2;}
.wrap a.left img, .popup_block a.right img {margin:0;padding:0;vertical-align:middle;}
.wrap a.left {left:0;}
.wrap a.right {right:0;}

.wrap img.border_left {/*float:left;*/position:absolute;top:50%;margin-top:-116px;}
.wrap img.border_right {/*float:right;*/position:absolute;top:50%;right:0;margin-top:-116px;}

.wrap img.btn_close {
  position: absolute;
  top:50%;
  right:0;
  margin: -116px 0 0 0;
  z-index: 10;
}

a.poplight {
	display:block;
	float:left;
	overflow:hidden;
	border: 2px #9db2b9 solid;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding:3px;
  margin:0;
  margin-top:10px;
  margin-right:10px;
  text-decoration:none;
  color:#fff;
}
a.poplight:hover {border: 2px #fff solid;}
a.poplight span {display:block;margin:5px 0;padding-left:3px;}

.fadeOut {
  -khtml-opacity:.50;
  -moz-opacity:.50;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
  filter:alpha(opacity=50);
  opacity:.50;
}


/* end jGallery styles */