#fade { /*--Transparent background layer--*/
  display: none; /*--hidden by default--*/
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .80;
  z-index: 9999;
}
.popup_block {
  display: none; /*--hidden by default--*/
  /*background: #fff;*/
  /*padding: 20px;
  padding-left:7px;
  padding-right:7px;*/
  /*border: 20px solid #ddd;
  border:1px solid #000;*/
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  /*--CSS3 Box Shadows--
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;*/
  /*--CSS3 Rounded Corners--
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;*/
  /*height: 232px;*/
  height: 100%;
}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
  position: absolute;
}
*html .popup_block {
  position: absolute;
}